<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Feed:</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Text</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tweet : ${tweets}" th:object="${tweet}">
        <td th:text="*{id}">1</td>
        <td th:text="*{date}">Today</td>
        <td th:text="*{text}">Thymeleaf the best Java template engine</td>
        <td>
            <a th:href="@{/edit(id=${tweet.id})}" href="edit.html">Edit</a>
            <a th:href="@{/delete(id=${tweet.id})}" href="index.html">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>