<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stubQuestionDAO" class="ua.nykyforov.dao.StubQuestionDAO"/>
    <bean id="simpleQuestionDAO" class="ua.nykyforov.service.SimpleQuestionService">
        <constructor-arg ref="stubQuestionDAO"/>
    </bean>
    <bean id="consoleUserInteractionService" class="ua.nykyforov.service.ConsoleUserInteractionService"/>
    <bean id="quizController" class="ua.nykyforov.controller.QuizController">
        <constructor-arg ref="simpleQuestionDAO"/>
        <constructor-arg ref="consoleUserInteractionService"/>
    </bean>

</beans>